@import "../utils/variables.scss";

.informations-of-lodging {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        flex-direction: column;
        justify-content: initial;
        
    }
    .lodging-title-in-lodging-page{
        color: $primary-color;
        font-weight: 500;
        padding-top: 30px;
        font-size: 36px;
        line-height: 51px;
        @media screen and (max-width: 1200px) {
            width: 90%;
        }
        @media screen and (max-width: 767px) {
            padding-top: 15px;
            font-size: 18px;
            line-height: 25px;
        }
    }
    .location-of-lodging{
        color: $primary-color;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        @media screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 19px;
            padding-top: 5px;
        }
    }
    .button-tag-style{
        padding-top: 20px;
        padding-bottom: 25px;
        @media screen and (max-width: 767px) {
            padding-top: 10px;
            padding-bottom: 15px;
        }
        button {
            color: $primary-color;
            font-weight: 500;
            background-color: $primary-color;
            border-radius: 10px;
            border: none;
            color: $font-color-footer;
            font-size: 14px;
            line-height: 20px;
            width: 115px;
            height: 25px;
            margin-right: 10px;
            padding: 0;
            text-align: center;
            @media screen and (max-width: 767px) {
                background-color: $primary-color;
                border-radius: 5px;
                border: none;
                color: $font-color-footer;
                font-size: 9px;
                line-height: 14px;
                width: 84px;
                height: 18px;
                margin-right: 10px;
                padding: 0;
                text-align: center;
            }
        }
    }
    .host-informations{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 25px 0 27px 0;
        @media screen and (max-width: 767px) {
            padding: 0;
        }
        p{
            color: $primary-color;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            @media screen and (max-width: 767px) {
                font-size: 12px;
                line-height: 17px;
            }
        }
        img{
            border-radius: 50%;
            object-fit: cover;
            width: 64px;
            height: 64px;
            margin-left: 5px;
            @media screen and (max-width: 767px) {
                width: 32px;
                height: 32px;
            }
        }
    }
    .stars-of-lodging{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        @media screen and (max-width: 767px) {
            justify-content: flex-start;
            margin-top: -25px;
            
        }
        img{
            padding-left: 15px;
            width: 24px;
            height: 24px;
            @media screen and (max-width: 767px) {
                padding-left: 7px;
                padding-bottom: 25px;
                width: 13px;
                height: 13px;
            }
        }
        img:first-child{
            padding-left: 0;
        }
    }
}