@import "../utils/variables.scss";

.lodging-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: $lodging-list-background-color;
    border-radius: 25px;
    padding: 56px 20px 6px 20px;
    @media screen and (max-width: 991px) {
        padding: 10px 5px 0 5px;   
    }
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        background-color: $font-color-footer;
        padding:0 0 0 0 ;   
    }
}
